<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
</head>
<body>

    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <h2>Record and Upload Audio</h2>

                <button id="record">Record</button>
                <button id="stop">Stop</button>
                <span id="timer">00:00</span>
                <audio id="audio"></audio>
                <form id="uploadForm" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="audio_data" id="audioData">
                </form>
                <script src="script.js"></script>
                <hl></hl>
                <h2>Recorded Files</h2>
                <ul>
                    {% for file in files %}
                    <li> 
                        <audio controls>
                            <source src="{{ url_for('uploaded_file', filename=file) }}">
                            Your browser does not support the audio element.
                        </audio><br>
                        {{file}}
                        <a href="uploads/{{file}}.txt">{{file}}.txt</a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td style="width:50%">
                <h2>Type in your text to generate audio</h2>

                <form action="/upload_text" method="post">
                  <textarea name="text" rows="10" cols="50"></textarea>
                  <br>
                  <input type="submit" value="Upload">
                </form>

                <!-- insert list of files here -->
            </td>
        </tr>
    </table>
</body>
</html>
